<header role="banner">
    <div class="container ">
        <div class="row">
            <div class="col-7 align-self-center">
                <img src="../assets/img/top/logo.png" alt="">
            </div>
            <div class="col-5">
                <button type="button" class="btn btn-light"><img src="../assets/img/top/join.png" alt=""></button>
                <button type="button" class="btn btn-light"><img src="../assets/img/top/sign.png" alt=""></button>
                <button type="button" class="btn btn-light"><span class="text-danger"> Shoping Bag </span> <span>(0)</span> <img src="../assets/img/top/bag.png" alt=""></button>
            </div>
        </div>
    </div>
</header>
