<div class="row row-cols-1 row-cols-md-3">
  <!-- 1 -->
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/kids-MoonColorblock.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/serax.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Serax fibrepots</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- 3  -->
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

   <!-- 4  -->
   <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

   <!-- 5  -->
   <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
   <!-- 6  -->
   <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/6.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- 7  -->
   <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/7.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  

  <!-- 8  -->
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/8.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- 9  -->
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/9.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- 10  -->
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/10.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- 11  -->
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/product-list/11.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- card title -->
        <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
          <div class="container">
            <div class="row">
              <div class="col-5">
              <!-- price -->
                <p><strong class="price">$ <span class="price">8.99</span></strong></p>
              </div>
              <!-- button -->
              <div class="col-6">
                <input class="get_it mt-1 ml-2" type="button">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

 <!-- 12  -->
 <div class="col mb-4">
  <div class="card h-100">
    <img src="../assets/img/product-list/12.png" class="card-img-top" alt="...">
    <div class="card-body">
      <!-- card title -->
      <h5 class="card-title">Kids Moon Colorblock Footed Tights</h5>
        <div class="container">
          <div class="row">
            <div class="col-5">
            <!-- price -->
              <p><strong class="price">$ <span class="price">8.99</span></strong></p>
            </div>
            <!-- button -->
            <div class="col-6">
              <input class="get_it mt-1 ml-2" type="button">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

</div>
