table td {
    padding: 20px;
    border: 1px solid black;
    width: 50px;
}


.rowGroup1_none{
    display: none;
}

.rowGroup2_none{
    display: none;
}

.rowGroup3_none{
    display: none;
}

.rowGroup4_none{
    display: none;
}