<img class="mt-1" src="/assets/img/nav-Left/productsMenu.png" alt="">
<!-- <img src="/assets/img/nav-Left/triangle.png" alt=""> -->
    <div class="row ml-2">
        <div class="col-3">  
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-man-tab" data-toggle="pill" href="#v-pills-man" role="tab" aria-controls="v-pills-man" aria-selected="true">
                Man
            </a>
            <a class="nav-link" id="v-pills-woman-tab" data-toggle="pill" href="#v-pills-woman" role="tab" aria-controls="v-pills-woman" aria-selected="false">
                Woman
            </a>
            <a class="nav-link" id="v-pills-fashion2013-tab" data-toggle="pill" href="#v-pills-fashion2013" role="tab" aria-controls="v-pills-fashion2013" aria-selected="false">
                Fashion 2013
            </a>
            <a class="nav-link" id="v-pills-kids-tab" data-toggle="pill" href="#v-pills-kids" role="tab" aria-controls="v-pills-kids" aria-selected="false">
                Kidss
            </a>
            <a class="nav-link" id="v-pills-jeans-tab" data-toggle="pill" href="#v-pills-jeans" role="tab" aria-controls="v-pills-jeans" aria-selected="false">
                Jeans
            </a>
            <a class="nav-link" id="v-pills-TShirt-tab" data-toggle="pill" href="#v-pills-TShirt" role="tab" aria-controls="v-pills-TShirt" aria-selected="false">
                TShirt
            </a>
            <a class="nav-link" id="v-pills-TopFashion-tab" data-toggle="pill" href="#v-pills-TopFashion" role="tab" aria-controls="v-pills-TopFashion" aria-selected="false">
                Top Fashion
            </a>
            <a class="nav-link" id="v-pills-SummerCollection-tab" data-toggle="pill" href="#v-pills-SummerCollection" role="tab" aria-controls="v-pills-SummerCollection" aria-selected="false">
                Summer collection
            </a>
            <a class="nav-link" id="v-pills-SpecialOffer-tab" data-toggle="pill" href="#v-pills-SpecialOffer" role="tab" aria-controls="v-pills-SpecialOffer" aria-selected="false">
                Special Offer
            </a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-man-tab"></div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></div>
          </div>
        </div>
      </div>